@page
@using crud.Models;
@model crud.Pages.Authors.DetailAuthorModel
@{
}

<div>
    <table class="table">
        <thead>
            <tr>Email</tr>
            <tr>Posts</tr>
        </thead>
        <tbody>
            <tr>hhhhhhh</tr>
            <tr>hhhhhhh</tr>
        </tbody>
    </table>
</div>
